<h1>MirrorKat - videos of videos of videos</h1>

<p></p>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MirrorKat</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Watch MirrorKat', controller: 'meerkat_streams' %></li>
        <li><a href="#new">New MirrorKat</a></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome to MirrorKat.com</h1>
    <p>
      Do you enjoy looking at yourself in the mirror? Singing in the shower? Farting in your air tight and fashionable SpaceX space suit?
    </p>
    <p>
      You're in the right place.
    </p>
    <p>
      After all, MirrorKat is the nerdiest topic since Roko's Basilisk.
    </p>
  </div>

  <div>
    <h2>Benefits</h2>
    <ul>
      <li>
        <div>
          <p>Don't miss out.</p>
        </div>
      </li>
      <li>
        <div>
          <p>Reduce video quality. And reminisce of the days of "streaming" video using RealPlayer.</p>
        </div>
      </li>
      <li>
        <div>
          <p>Protect your privacy by restreaming.</p>
        </div>
      </li>
      <li>
        <div>
          <p>Drain your iPhone's battery.</p>
        </div>
      </li>
      <li>
        <div>
          <p>Increase your Meerkat score</p>
        </div>
      </li>
      <li>
        <div>
          <p>Make sure your friends never forget you. Keep your name on top of their iPhone Notifications.</p>
        </div>
      </li>
      <li>
        <div>
          <p>Prevent people from making obnoxious calls on public transportation.</p>
        </div>
      </li>
      <li>
        <div>
          <p>Compete for the lowest possible MirrorKat score in various categories.</p>
        </div>
      </li>
      <li>
        <div>
          <p>Collaborate with your contemporaries to keep the most embarrassing moments streaming over and over.</p>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h2>Categories</h2>
    <ul>
      <li>
        <div>
          <p>Keep it up: (work to keep particular Meerkats restreaming for days and days)</p>
        </div>
      </li>
      <li>
        <div>
          <p>Audio only: (add your own video content to an existing audio only stream)</p>
        </div>
      </li>
      <li>
        <div>
          <p>Community service: (read Wikipedia articles out loud, extra points for particularly bad fake accents)</p>
        </div>
      </li>
      <li>
        <div>
          <p>Singularity: (work to get every Meerkat user to contribute to a single stream)</p>
        </div>
      </li>
      <li>
        <div>
          <p>LISP: (work to use Meerkat stream data as a Turing machine)</p>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h2>How it works</h2>
    <p>Making a MirrorKat is even easier than making a Meerkat (and that's pretty easy).</p>
    <ol>
      <li>
        <div>
          <p>Click "New MirrorKat" (at the top of the screen)</p>
        </div>
      </li>
      <li>Wait for the two Meerkat streams to load</li>
      <li>Just include "RK" (for re-kat) in the tweet announcing your MirrorKat stream (or register the link here).</li>
    </ol>
  </div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
